<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <title>MobilePhone</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
</head>
<body>

    <header class="navbar navbar-fixed-top">	
      <nav class="navbar-inner">
        <div class="container">

       </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
            </div>
          </div>

        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

    
			<div class="navbar navbar-fixed-top">
			  <div class="navbar-inner">
			    <div class="container">
			      <a class="brand" href="/">Phone Retailer</a>
			      	<ul class="nav">
			        	<li class="active"><a href="/">Home</a></li>
			      	<!-- </ul>
			      	<ul class="nav pull-right"> -->
					<% if signed_in? %>
						<li><%= link_to "Log out", log_out_path %></li>
				        <li><a href="/log_out">Log Out</a></li>
				        <li><a href="/customers">Customers</a></li>
				        <li><a href="/orders">Your Orders</a></li>
				        <li><a href="/phones">Purchase Phones</a></li>
				
					<% else %>
			        	<li><%= link_to "Sign up", sign_up_path %></li>
			        	<li><%= link_to "Log in", log_in_path %></li>
				        <li><a href="/log_in">Customers</a></li>
				        <li><a href="/log_in">Your Orders</a></li>
				        <li><a href="/phones">Purchase Phones</a></li>
					<% end %>
			      </ul>
			    </div>
			  </div>
			</div>
			
			
			
</div>
</div>
</div>

<% flash.each do |name, msg| %>
	<% content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>Our Goal</h2>
We believe in value, and we want you to be happy, happy because you've had a great choice of mobile products to choose from, a brilliant deal, along with a friendly and helpful service.
    </div>
  </div>
</div>
<footer>
	<%= render 'layouts/footer' %>    

</footer>

</body>
</html>
