<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
</head>
<body>

    <header class="navbar navbar-fixed-top">	
      <nav class="navbar-inner">
        <div class="container">	
				<% if signed_in? %>
				Logged in as <%= @current_customer.email %>
				<%= link_to "Log out", log_out_path %>
			<% else %>
				<%= link_to "Sign up", sign_up_path %> or
				<%= link_to "Log in", log_in_path %>
			<% end %>	
			<%= render 'partials/header' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
          <footer>
			<%= render 'partials/footer' %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
</body>
</html>
